<div class="Question-page">
  {{edit-question question=model updateQuestion='updateQuestion'}}
  <h1>{{model.content}}</h1>
  <p>{{model.date}}</p>
  <p>{{model.category}}</p>
  <p>{{model.author}}</p>
</div>
